<md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
    <md-content flex role="navigation">
        <md-list flex layout-margin>

            <md-list-item class="md-1-line" ng-click="null">
                <i class="fa fa-lg fa-dashboard" layout-margin></i>
                <h4>Dashboard</h4>
            </md-list-item>
            <md-list-item class="md-1-line" ng-click="null">
                <i class="fa fa-lg fa-briefcase" layout-margin></i>
                <h4>Jobs</h4>
            </md-list-item>
            <md-list-item class="md-1-line" ng-click="null">
                <i class="fa fa-lg fa-server" layout-margin></i>
                <h4>Devices</h4>
            </md-list-item>
            <md-list-item class="md-1-line" ng-click="null">
                <i class="fa fa-lg fa-cogs" layout-margin></i>
                <h4>Settings</h4>
            </md-list-item>

    </md-content>
    <md-content layout="row" layout-align="center end">
        <div class="md-caption">
            Version:5.0.1-SNAPSHOT
        </div>
    </md-content>
</md-sidenav>